   .item{
         }
         .image {
         display: block;
         width: 100%;
         height: auto;
         }
         .overlay {
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         background-color: #27788da8;
         overflow: hidden;
         width: 100%;
         height: 0;
         transition: .5s ease;
         border-radius: 20px;
         }
         .item:hover .overlay {
         height: 50%;
         }
         .text {
         color: white;
         font-size: 20px;
         position: absolute;
         top: 50%;
         left: 50%;
         -webkit-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
         text-align: center;
         }
         .tab .nav-tabs > li{
         margin-right: 2px;
         }
         .tab .nav-tabs > li > a{
         border: none;
         padding: 14px 44px;
         color: #909293;
         background: #e3e0e0;
         border-radius: 0;
         }
         .tab .nav-tabs > li > a > i{
         font-size:14px;
         margin-right:10px;
         }
         .tab .nav-tabs > li.active > a,
         .tab .nav-tabs > li.active > a:focus,
         .tab .nav-tabs > li.active > a:hover{
         border: none;
         background: #176c81;  /* fallback for old browsers */
         background: -webkit-linear-gradient(to right,  #0ba3c8, #176c81);  
         background: linear-gradient(to right, #0ba3c8, #176c81); 
         color:#fff;
         transition:background 0.20s linear;
         }
         .tab .nav-tabs li.active:after {
         }
         .tab .tab-content{
         background: #fdfdfd;
         line-height: 25px;
         border: 1px solid #ddd;
         padding:30px 25px;
         }
         @media only screen and (max-width: 480px){
         .tab > .nav-tabs li{
         width:100%;
         }
         .tab .nav-tabs > li > a{
         padding: 20px;
         }
         .tab .nav-tabs > li.active:after {
         border:none;
         }
         }
.contact-formlogin .form-group input, .contact-formlogin  .form-group textarea, .contact-formlogin .form-group select {
    display: block;
    background: #fff;
    width: 100%;
  
    font-size: 14px;
    color: rgba(119,119,119,1);
    font-weight: 400;
    line-height: 25px;
    padding: 13px 20px;
    border: 1px solid #2f2f2f4a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.btn-style {
    position: relative;
    font-size: 18px;
    color: #ffffff;
    line-height: 26px;
    padding: 4px 30px;
    text-transform: capitalize;
    background: #17697e;
    border: 2px solid #17697e;
    float: right;
    border-radius: 0px!important;
    float: left;
}
         .form-group label {
         color: #17697e;
         font-family: 'Roboto Medium', arial;
         font-size: 18px;
         }
         .contact-form .form-group {
         position: relative;
         margin-bottom: 12px;
         }


 .item{

      }
      .image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #27788da8;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-radius: 20px;
}
.item:hover .overlay {
  height: 50%;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.tab .nav-tabs > li{
         margin-right: 2px;
         }
         .tab .nav-tabs > li > a{
        border: none;
        padding: 14px 44px;
        color: #909293;
        background: #e3e0e0;
        border-radius: 0;
         }
         .tab .nav-tabs > li > a > i{
         font-size:14px;
         margin-right:10px;
         }
         .tab .nav-tabs > li.active > a,
         .tab .nav-tabs > li.active > a:focus,
         .tab .nav-tabs > li.active > a:hover{
         border: none;
         background: #176c81;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right,  #0ba3c8, #176c81);  
background: linear-gradient(to right, #0ba3c8, #176c81); 

         color:#fff;
         transition:background 0.20s linear;
         }
         .tab .nav-tabs li.active:after {
        
         }
         .tab .tab-content{
         background: #fdfdfd;
         line-height: 25px;
         border: 1px solid #ddd;
        
         padding:30px 25px;
         }
         @media only screen and (max-width: 480px){
         .tab > .nav-tabs li{
         width:100%;
         }
         .tab .nav-tabs > li > a{
         padding: 20px;
         }
         .tab .nav-tabs > li.active:after {
         border:none;
         }
         }
         .contact-formlogin .form-group input, .contact-form .form-formlogin textarea, .contact-form .form-group select {
    position: relative;
    display: block;
    background: #fff;
    width: 100%;
  height: 45px;
    font-size: 14px;
    color: rgba(119,119,119,1);
    font-weight: 400;
    line-height: 25px;
    padding: 13px 20px;
    border: 1px solid #2f2f2f4a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.btn-style {
    position: relative;
    font-size: 18px;
    color: #ffffff;
    line-height: 26px;
    padding: 4px 30px;
    text-transform: capitalize;
    background: #17697e;
    border: 2px solid #17697e;
    float: right;
    border-radius: 0px!important;
    float: left;
}
.form-group label p {
    color: #17697e;
    font-family: 'Roboto Medium', arial;
    font-size: 18px;
    font-weight: 700;
}
.contact-form .form-group {
    position: relative;
    margin-bottom: 12px;
}