 .tab .nav-tabs > li{
         margin-right: 2px;
         }
         .tab .nav-tabs > li > a{
           padding: 12px 25px;
    color: #17697e;
    font-size: 17px;
    border-radius: 0;
    text-align: center;
    border: 1px solid;
         }
         .tab .nav-tabs > li > a > i{
         font-size:14px;
         margin-right:10px;
         }
         .tab .nav-tabs > li.active > a,
         .tab .nav-tabs > li.active > a:focus,
         .tab .nav-tabs > li.active > a:hover{
         border: none;
         background: #17697e;
         color:#fff;
         transition:background 0.20s linear;
         text-align: center;
         }
         .tab .nav-tabs li.active:after {
         content: "";
         position: absolute;
         bottom: 8px;
         left: 93%;
         border: 15px solid transparent;
         border-top-color: #17697e ;
         }
         .tab .tab-content{
         
         line-height: 25px;
        
         padding:30px 25px;
         }
         @media only screen and (max-width: 480px){
         .tab > .nav-tabs li{
         width:100%;
         }
         .tab .nav-tabs > li > a{
         padding: 20px;
         }
         .tab .nav-tabs > li.active:after {
         border:none;
         }
         }
         .nav-tabs>li {
    float: none!important;
  
}
.nav-tabs {
    border-bottom: none; 
}
.contact-formlogin .form-group input, .contact-formlogin .form-group textarea, .contact-form .form-group select {
    position: relative;
    display: block;
    background: #fff;
    width: 100%;
  
    font-size: 14px;
    color: rgba(119,119,119,1);
    font-weight: 400;
    line-height: 25px;
    padding: 13px 20px;
    border: 1px solid #2f2f2f4a;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.btn-style {
    position: relative;
    font-size: 18px;
    color: #ffffff;
    line-height: 26px;
    padding: 4px 30px;
    text-transform: capitalize;
    background: #17697e;
    border: 2px solid #17697e;
    float: right;
    border-radius: 0px!important;
    float: left;
}
.form-group label {
    color: #17697e;
    font-family: 'Roboto Medium', arial;
    font-size: 18px;
}
.contact-form .form-group {
    position: relative;
    margin-bottom: 12px;
}
.dropbtn {
  background-color: #ffff00;
  color: #17697e;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding-top: 42px;
}
.logo {
    padding-top: 0px!important;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  
}
form .stars {
  background: url("stars.png") repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
}

form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0!important;
  padding: 0!important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent!important;
  cursor: pointer;
   border: 1px solid #5555558c;
}
form .stars label:hover ~ span {
  background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
  width: 100% !important;
}
form .stars label.star-4:hover ~ span {
  width: 80% !important;
}
form .stars label.star-3:hover ~ span {
  width: 60% !important;
}
form .stars label.star-2:hover ~ span {
  width: 40% !important;
}
form .stars label.star-1:hover ~ span {
  width: 20% !important;
}
form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}